*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html {
    background-color: rgb(255, 255, 255);
    color: rgb(10, 88, 119);
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
}
body {
    width: 60%;
    margin: auto;
}
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
    height: 80px;

}


.navigation ul {
    display: inline-flex;  

}
.navigation li {
    list-style: none;
    margin: 10px 20px;
    justify-content: center; 
    justify-items: center;
    font-size: 20px;
    font-weight: 700;
}

.about {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 68% 30%;
    flex-shrink: 2;
    
}
p {
    word-spacing: 2px;
}
.image img {
    display: flex;
    flex-shrink: 2;
    flex-basis: 50px;
    border-radius: 5%;
}

#education {
    margin-top: 20px;
}
#education li {
    list-style-type: circle;
    margin-left: 15px;
    word-spacing: 2px;
    
}
#education img {
    display: none;
}
#skills {
    margin-top: 20px;
}
.icons img {
    margin-top: 10px;
    display: inline-flex;

}
footer {
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
}


@media only screen and (max-width: 900px) {
    body {
      width: 97%;
      margin: auto;

    }
    h1 {
        margin-top: 5px;
        font-weight: 800;
        font-size: 25px;
    }
    header{
        font-size: 0.8rem;
        margin-top: 25px
    }
    .image {
        margin-top: 20px;
    }
    .navigation li {
        margin: 10px;
        font-weight: 700;
        font-size: 18px;
    }
    .about {
        display: flex;
        flex-wrap: wrap;
    }

  }